# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

web/cses
web/cses.db
web/cses.db-journal
web/obj/*
judge/judge
judge/obj/*
