<% c++ #include "content.hpp" %>
<% c++ using namespace cses; %>
<% skin views %>

<% view page uses Page %>
<% template render() %>
<!DOCTYPE html>
<html>
<head>
<title>CSES</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/cses/cses.css" type="text/css"/>
</head>
<a href="<% url "/" %>">
<table>
<tr><td>
<img src="/static/cses/logo.png"/>
</td><td>
<p><i>&nbsp;&nbsp;Contest Submission Evaluation System</i></p>
</td></tr>
</table>
</a>
<hr>
<body>
<% include body() %>
</body>
</html>
<% end template %>

<% template body() %>
<% end template %>
<% end view %>


<% view contests uses ContestsPage extends page %>
<% template body() %>
<html>
<body>
<h1>Contests</h1>
<% foreach c in contests %>
<ul>
<% item %>
	<li><a href="<% url "contest" using c %>"><%= c %></a></li>
<% end %>
</ul>
<% end %>
</body>
</html>
<% end template %>
<% end view %>


<% view submit uses SubmitPage extends page %>
<% template body() %>
submit
<% end template %>
<% end view %>


<% view contest uses ContestPage extends page %>
<% template body() %>
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>


<% view user uses UserPage extends page %>
<% template body() %>
user
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>

<% view registration uses RegistrationPage extends page %>
<% template body() %>
<h1>Register user</h1>
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>

<% view login uses LoginPage extends page %>
<% template body() %>
<h1>Login</h1>
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>


<% view languages uses LanguagesPage extends page %>
<% template body() %>
<h1>Languages</h1>
<% foreach l in languages %>
	<%item%>
	<form method="post" action=""><%csrf%>
	<% form as_p l %>
	</form>
	<% end %>
<% end %>
<form method="post" action=""><%csrf%>
<% form as_p newLang %>
</form>
<% end template %>
<% end view %>

<% view admin uses AdminPage extends page %>
<% template body() %>
<h1>Admin panel</h1>
<h2>Users</h2>
<% foreach user in userlist %>
<table>
	<% item %>
	<tr>
		<td><%= user.name %></td>
		<td><a href="<% url "adminEditUser" using user.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
</form>
<% end template %>
<% end view %>

<% end skin %>
