<% c++ #include "content.hpp" %>
<% c++ using namespace cses; %>
<% skin views %>

<% view page uses Page %>
<% template render() %>
<!DOCTYPE html>
<html>
<head>
<title>CSES</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/cses.css" type="text/css"/>
</head>
<body>
<table>
<tr><td width=150>
<a href="<% url "/" %>">
<img src="/static/cses.png" />
</a>
</td><td width=350>
<p><i>&nbsp;&nbsp;<a href="<% url "/" %>">Contest Submission Evaluation System</a></i></p>
</td></td>
<td width=300>
<% if logged %>
<ul>
<li> Current user: <%= user %>
<li> <a href="<% url "logout" %>">Logout</a>
</ul>
<% else %>
<ul>
<li> You have not logged in.
<li> <a href="<% url "login" %>">Login</a> | <a href="<% url "register" %>">New user</a>
</ul>
<% end %>
</td></tr>
</table>
</a>
<hr>
<% include body() %>
</body>
</html>
<% end template %>

<% template body() %>
<% end template %>

<% end view %>

<% view in_contest uses InContestPage extends page %>
<% template body() %>

<table>
<tr><td width=500>
<h1>Contest <%= name %></h1>
<p>
<a href="<% url "submit" using id %>">Submit solution</a> |
<a href="<% url "list" using id %>">View submissions</a> |
<a href="<% url "scores" using id %>">Scoreboard</a>
<% if admin %>
| <a href="<% url "contest" using id %>">Settings</a>
<% end %>
</p>
</td><td width=300>
<ul>
<li>Beginning time: <%= formatTime1 %>
<li>Ending time: <%= formatTime2 %>
<li><span id="message"></span>
</ul>
<script>
var beginTime = <%= beginTime %>;
var endTime = <%= endTime %>;
var curTime = <%= curTime %>;
var jsBegin = (new Date()).getTime();

function update() {
	var message = document.getElementById("message");
	var newTime = curTime+parseInt(((new Date()).getTime()-jsBegin)/1000);
	if (newTime < beginTime) {
		message.innerHTML = "The contest has not started.";
	} else if (newTime > endTime) {
		message.innerHTML = "The contest has ended.";
	} else {
		var timeLeft = endTime-newTime;
		var seconds = timeLeft%60;
		timeLeft = parseInt(timeLeft/60);
		var minutes = timeLeft%60;
		timeLeft = parseInt(timeLeft/60);
		var hours = timeLeft%60;
		if (seconds < 10) seconds = "0"+seconds;
		if (minutes < 10) minutes = "0"+minutes;
		if (hours < 10) hours = "0"+hours;
		message.innerHTML = "Remaining time: " + hours + ":" + minutes + ":" + seconds;		
	}
}

update();
window.setInterval("update()", 500);


</script>
</table>
<hr>
<% include body2() %>
<% end template %>

<% template body2() %>
<% end template %>

<% end view %>


<% view contests uses ContestsPage extends page %>
<% template body() %>
<html>
<body>
<% if logged %>
<h1>Contests</h1>
<% foreach c in contests %>
<ul>
<% item %>
	<li><a href="<% url "submit" using c.id %>"><%= c.name %></a></li>
<% end %>
</ul>
<% end %>
<% else %>
<p>lol</p>
<% end %>
<% if admin %>
<h1>Administration</h1>
<ul>
<li><a href="<% url "import" %>">Import contest</a>
<li><a href="<% url "languages" %>">Languages</a>
<li><a href="<% url "users" %>">Users</a>
</ul>
</body>
</html>
<% end %>
<% end template %>
<% end view %>

<% view registration uses RegistrationPage extends page %>
<% template body() %>
<h1>Register user</h1>
<% if not empty msg %><p><%= msg %></p><% end %>
<% if showForm %>
<form method="post" action=""><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
<% end %>
<% end template %>
<% end view %>

<% view login uses LoginPage extends page %>
<% template body() %>
<h1>Login</h1>
<% if loginFailed %>
	<p>Wrong username or password!</p>
<% end %>
<form method="post" action=""><%csrf%>
<table>
<% form as_table info %>
</table>
</form>
<% end template %>
<% end view %>

<% view languages uses LanguagesPage extends page %>
<% template body() %>
<h1>Languages</h1>
<h2>Submission languages</h2>
<a href="<% url "editLanguage" using SUBMISSION_LANGUAGE, NEW_LANGUAGE %>">New</a>
<% foreach language in submissionLanguages %>
<table>
	<% item %>
	<tr>
		<td><%= language.name %></td>
		<td><a href="<% url "editLanguage" using SUBMISSION_LANGUAGE, language.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<h2>Evaluator languages</h2>
<a href="<% url "editLanguage" using EVALUATOR_LANGUAGE, NEW_LANGUAGE %>">New</a>
<% foreach language in evaluatorLanguages %>
<table>
	<% item %>
	<tr>
		<td><%= language.name %></td>
		<td><a href="<% url "editLanguage" using EVALUATOR_LANGUAGE, language.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<% end template %>
<% end view %>

<% view users uses UsersPage extends page %>
<% template body() %>
<h1>Users</h1>
<% foreach user in users %>
<table>
	<% item %>
	<tr>
		<td><%= user.name %></td>
		<td><a href="<% url "editUser" using user.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<% end template %>
<% end view %>

<% view editUser uses EditUserPage extends page %>
<% template body() %>
<h1>Edit user</h1>
<% if not empty msg %><p><%= msg %></p><% end %>
<form method="post" action=""><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
<% end template %>
<% end view %>

<% view editLanguage uses EditLanguagePage extends page %>
<% template body() %>
<h1>Edit language</h1>
<% if nameInUse %><p>Edit failed: name already in use.</p><% end %>
<% if success %><p>Language successfully edited.</p><% end %>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
<% end template %>
<% end view %>

<% view import uses ImportPage extends page %>
<% template body() %>
<h1>Import contest</h1>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
<% end template %>
<% end view %>

<% view view uses ViewPage extends in_contest %>
<% template body2() %>
<h2>Submission for task <%= taskName %></h2>
<h3>Status: <%= status %></h3>
<p><a href="<% url "code" using ownID %>">Show submitted code</a></p>
<h3>Total score: <%= points %>/<%= total %> points</h3>
<% foreach group in groups %>
  <% item %>
  <h3>Group <%= group.number %> (<%= group.points %>/<%= group.total %> points)</h3>
  <% foreach result in group.results %>
    <table>
    <tr><td width=75><b>test</b></td><td width=75><b>time</b></td><td width=75><b>memory</b></td><td width=300><b>result</b></td></tr>
    <% item %>
      <tr><td>#<%= result.number %></td>
          <td><%= result.timeInSeconds %> s</td><td><%= result.memoryInKBytes %> kB</td>
          <td><font color="<%= result.color %>"><%= result.status %></font></td></tr>
    <% end %>
    </table>
  <% end %>
  <% end %>
<% end %>
<% end template %>
<% end view %>

<% view code uses CodePage extends in_contest %>
<% template body2() %>
<h2>Submission for task <%= taskName %></h2>
<p><a href="<% url "view" using ownID %>">Return to submission</a></p>
<pre>
<%= code %>
</pre>
<% end template %>
<% end view %>

<% view submit uses SubmitPage extends in_contest %>
<% template body2() %>
<h2>Submit solution</h2>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
<% end template %>
<% end view %>

<% view list uses ListPage extends in_contest %>
<% template body2() %>
<h2>View submissions</h2>

<% foreach item in items %>
  <table>
  <tr><td width=150><b>task</b></td><td width=200><b>time</b></td><td width=150><b>status</b></td></tr>
  <% item %>
    <tr><td><a href="<% url "view" using item.id %>"><%= item.task %></a></td><td><%= item.time %></td><td><%= item.status %></td></tr>
  <% end %>
  </table>
<% end %>

<% end template %>
<% end view %>

<% view scores uses ScoresPage extends in_contest %>
<% template body2() %>
<h2>Scoreboard</h2>

<table border="1">
<tr>
<td>User</td>
<td>Total</td>
<% foreach t in tasks %>
	<% item %>
		<th> <%= t %> </th>
	<% end %>
<% end %>
<% foreach row in rows %>
<% item %>
	<tr>
	<td> <%= row.user %> </td>
	<td> <%= row.score %> </td>
	<% foreach cell in row.cells %>
	<% item %>
		<td>
		<% if cell.has %>
			<%= cell.score %>
		<% end %>
		</td>
	<% end %>
	<% end %>
	</tr>
<% end %>
<% end %>
</tr>

</table>

<% end template %>
<% end view %>

<% view contest uses ContestPage extends in_contest %>
<% template body2() %>

<h2>Contest settings</h2>
<form method="post" action=""><%csrf%>
<table>
<% form as_table form %>
</table>
<script>
function cuteHandler(name) {
    var oldBox = document.getElementsByName(name)[0];
    var newDate = new Date();
    newDate.setFullYear(document.getElementById(name+"_y").value);
    newDate.setMonth(document.getElementById(name+"_m").value-1);
    newDate.setDate(document.getElementById(name+"_d").value);
    newDate.setHours(document.getElementById(name+"_h").value);
    newDate.setMinutes(document.getElementById(name+"_p").value);
    newDate.setSeconds(0);
    oldBox.value = parseInt(newDate.getTime()/1000);
}

function createList(name, id, first, last, len) {
    var newList = document.createElement("select");
    newList.id = name + id;
    newList.onchange = function(){cuteHandler(name)};
    for (var i = first; i <= last; i++) {
        var option = document.createElement("option");
        option.text = i;
        while (option.text.length < len) option.text = "0"+option.text;
        option.value = i;
        newList.add(option);
    }
    return newList;
}

function cuteTimeSelect(name) {
    var oldBox = document.getElementsByName(name)[0];
    var parent = oldBox.parentNode;
    oldBox.style.visibility = "hidden";
    oldBox.style.width = "0";
    var currentYear = (new Date()).getFullYear();
    var yearSelect = createList(name, "_y", 2014, currentYear, 4);
    parent.appendChild(yearSelect);
    parent.appendChild(document.createTextNode("-"));
    var monthSelect = createList(name, "_m", 1, 12, 2);
    parent.appendChild(monthSelect);    
    parent.appendChild(document.createTextNode("-"));
    var daySelect = createList(name, "_d", 1, 31, 2);
    parent.appendChild(daySelect);    
    parent.appendChild(document.createTextNode(" "));
    var hourSelect = createList(name, "_h", 0, 23, 2);
    parent.appendChild(hourSelect);
    parent.appendChild(document.createTextNode(":"));
    var minuteSelect = createList(name, "_p", 0, 59, 2);
    parent.appendChild(minuteSelect);
    var oldDate = new Date(oldBox.value*1000);
    yearSelect.selectedIndex = oldDate.getFullYear()-2014;
    monthSelect.selectedIndex = oldDate.getMonth();
    daySelect.selectedIndex = oldDate.getDate()-1;
    hourSelect.selectedIndex = oldDate.getHours();
    minuteSelect.selectedIndex = oldDate.getMinutes();
}

cuteTimeSelect("_2");
cuteTimeSelect("_3");
</script>
</form>
<h3>Tasks</h3>
<% foreach task in tasks %>
<table>
<% item %>
	<tr>
	<td>
	<a href="<% url "task" using task.id %>"><%= task.name %></a>
	</td>
	</tr>
<% end %>
</table>
<% end %>

<% end template %>
<% end view %>

<% view task uses TaskPage extends in_contest %>
<% template body2() %>
<h2>Task <%= name %> </h2>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<table>
<% form as_table form %>
</table>
</form>
Evaluator compile status:
<pre>
<%= compileMessage %>
</pre>
<% end template %>
<% end view %>

<% end skin %>
