<% c++ #include "content.hpp" %>
<% c++ using namespace cses; %>
<% skin views %>

<% view page uses Page %>
<% template render() %>
<!DOCTYPE html>
<html>
<head>
<title>CSES</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/cses/cses.css" type="text/css"/>
</head>
<table>
<tr><td>
<a href="<% url "/" %>">
<img src="/static/cses.png" />
</a>
</td><td>
<p><i>&nbsp;&nbsp;<a href="<% url "/" %>">Contest Submission Evaluation System</a></i></p>
</td></tr>
</table>
</a>
<hr>
<body>
<% include body() %>
</body>
</html>
<% end template %>

<% template body() %>
<% end template %>

<% end view %>


<% view in_contest uses InContestPage extends page %>
<% template body() %>

<table>
<tr><td width=400>
<h1>Contest <%= name %></h1>
<p>
<a href="<% url "submit" using id %>">Submit solution</a> |
<a href="<% url "list" using id %>">View submissions</a> |
<a href="<% url "scores" using id %>">Scoreboard</a>
</p>
</td><td width=400>
<ul>
<li>Beginning time: <%= time1 %>
<li>Ending time: <%= time2 %>
<li> <%= message %>
</ul>
</table>
<hr>
<% include body2() %>
<% end template %>

<% template body2() %>
<% end template %>

<% end view %>


<% view contests uses ContestsPage extends page %>
<% template body() %>
<html>
<body>
<h1>Contests</h1>
<% foreach c in contests %>
<ul>
<% item %>
	<li><a href="<% url "submit" using c.first %>"><%= c.second %></a></li>
<% end %>
</ul>
<% end %>
<h1>Administration</h1>
<ul>
<li><a href="<% url "adminImport" %>">Import contest</a>
</ul>
</body>
</html>
<% end template %>
<% end view %>

<% view contest uses ContestPage extends page %>
<% template body() %>
<% end template %>
<% end view %>

<% view user uses UserPage extends page %>
<% template body() %>
user
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>

<% view registration uses RegistrationPage extends page %>
<% template body() %>
<h1>Register user</h1>
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>

<% view login uses LoginPage extends page %>
<% template body() %>
<h1>Login</h1>
<% if loginFailed %>
	<p>Wrong username or password!</p>
<% end %>
<form method="post" action=""><%csrf%>
<% form as_p info %>
</form>
<% end template %>
<% end view %>

<% view admin uses AdminPage extends page %>
<% template body() %>
<h1>Admin panel</h1>
<h2>Users</h2>
<% foreach user in users %>
<table>
	<% item %>
	<tr>
		<td><%= user.getName() %></td>
		<td><a href="<% url "adminEditUser" using user.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<h2>Submission languages</h2>
<a href="<% url "adminEditLanguage" using SUBMISSION_LANGUAGE, NEW_LANGUAGE %>">New</a>
<% foreach language in submissionLanguages %>
<table>
	<% item %>
	<tr>
		<td><%= language.name %></td>
		<td><a href="<% url "adminEditLanguage" using SUBMISSION_LANGUAGE, language.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<h2>Evaluator languages</h2>
<a href="<% url "adminEditLanguage" using EVALUATOR_LANGUAGE, NEW_LANGUAGE %>">New</a>
<% foreach language in evaluatorLanguages %>
<table>
	<% item %>
	<tr>
		<td><%= language.name %></td>
		<td><a href="<% url "adminEditLanguage" using EVALUATOR_LANGUAGE, language.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<% end %>
<% end template %>
<% end view %>

<% view adminEditUser uses AdminEditUserPage extends page %>
<% template body() %>
<h1>Admin panel</h1>
<h2>Edit user</h2>
<% if nameInUse %><p>Edit failed: Username already in use.</p><% end %>
<% if success %><p>User successfully edited.</p><% end %>
<form method="post" action=""><%csrf%>
<% form as_p form %>
</form>
<% end template %>
<% end view %>

<% view adminEditLanguage uses AdminEditLanguagePage extends page %>
<% template body() %>
<h1>Admin panel</h1>
<h2>Edit language</h2>
<form method="post" action=""><%csrf%>
<% form as_p form %>
</form>
<% end template %>
<% end view %>

<% view adminImport uses AdminImportPage extends page %>
<% template body() %>
<h1>Admin panel</h1>
<h2>Import contest</h2>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<% form as_p form %>
</form>
<% end template %>
<% end view %>

<% view view uses ViewPage extends in_contest %>
<% template body2() %>
<h2>View submission</h2>
<h3>Status: <%= status %></h3>
<h3>Total score: <%= points %>/<%= total %> points</h3>
<% foreach group in groups %>
  <% item %>
  <h3>Group <%= group.number %> (<%= group.points %>/<%= group.total %> points)</h3>
  <% foreach result in group.results %>
    <table>
    <tr><td width=75><b>test</b></td><td width=75><b>time</b></td><td width=75><b>memory</b></td><td width=300><b>result</b></td></tr>
    <% item %>
      <tr><td>#<%= result.number %></td>
          <td><%= result.timeInSeconds %> s</td><td><%= result.memoryInKBytes %> kB</td>
          <td><font color="<%= result.color %>"><%= result.status %></font></td></tr>
    <% end %>
    </table>
  <% end %>
  <% end %>
<% end %>
<% end template %>
<% end view %>

<% view submit uses SubmitPage extends in_contest %>
<% template body2() %>
<h2>Submit solution</h2>
<form method="post" action="" enctype="multipart/form-data"><%csrf%>
<% form as_p form %>
</form>
<% end template %>
<% end view %>

<% view list uses ListPage extends in_contest %>
<% template body2() %>
<h2>View submissions</h2>

<% foreach item in items %>
  <table>
  <tr><td width=150><b>task</b></td><td width=200><b>time</b></td><td width=150><b>status</b></td></tr>
  <% item %>
    <tr><td><a href="<% url "view" using item.id %>"><%= item.task %></a></td><td><%= item.time %></td><td><%= item.status %></td></tr>
  <% end %>
  </table>
<% end %>

<% end template %>
<% end view %>

<% view scores uses ScoresPage extends in_contest %>
<% template body2() %>
<h2>Scoreboard</h2>

<table border="1">
<tr>
<th></th>
<% foreach t in tasks %>
	<% item %>
		<th> <%= t %> </th>
	<% end %>
<% end %>
<% foreach row in rows %>
<% item %>
	<tr>
	<td> row.user </td>
	<% foreach cell in row.cells %>
	<% item %>
		<td>
		<% if cell.has %>
			<%= cell.score %>
		<% end %>
		</td>
	<% end %>
	<% end %>
	</tr>
<% end %>
<% end %>
</tr>

</table>

<% end template %>
<% end view %>

<% end skin %>
